<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Buildoff</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="stars.css">
</head>

<body class="not_selectable" onload="onLoad()">
  {{{body}}}
  {{> includes/footer }}
</body>

</html>
