<div id="background" class="size95 margin_auto" style="position:absolute;x:0;y:0;z-index:1">
  <div id='stars1'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
</div>
<table class="w100pct" style="position:absolute;x:0;y:0;z-index:2">
  <tr>
    <td colspan=3>
      <h1>Welcome to the Nano Banano booster!</h1>
      <hr>
    </td>
  </tr>
  <tr>
    <td>
      <button id="allProjectsButton" disabled onclick="showAllProjects();return false;">
        All Projects
      </button>
    </td>
    <td>
      <button id="registerButton" disabled onclick="showRegister();return false;">
        Register
      </button>
    </td>
  </tr>
  <tr id="allProjects" class="display_none">
    <td colspan=3>
      <h1>All Projects</h1>
      <hr>
      {{#each projects}}
        <h2>Project: {{this.name}}</h2>
        <a class="exit_link" target="_blank" href="{{this.url}}">{{this.name}} Git Repo [{{this.url}}]</a>
        <hr>
      {{/each}}
    </td>
  </tr>
  <tr id="register" class="display_none">
    <td colspan=3>
      <h1>Your Project</h1>
      <form id="form" method="post">
        <h3>Public Information</h3>
        Your Project Name<br>
        <input id="projectName" type="text" name="projectName" /><br>
        Your Project Description<br>
        <input id="projectDescription" type="text" name="projectDescription" /><br>
        <hr>
        <h3>Internal (Private) Information</h3>
        <small>this will be private, and only used for internal communication</small>
        Team lead contact info<br>
        <input id="projectContactInfo" type="textarea" name="projectContactInfo" /><br>
        Team lead banano account (for prize payment)<br>
        <input id="projectBananoAccount" type="textarea" name="projectBananoAccount" /><br>
        <input type="submit" onclick="submitForm();return false;" /><br>
      </form>
    </td>
  </tr>
</table>
<script type="module" src="js/views/buildoff.js"></script>
