<div id="background" class="size95 margin_auto" style="position:absolute;x:0;y:0;z-index:1">
  <div id='stars1'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
</div>
<table class="w100pct" style="position:absolute;x:0;y:0;z-index:3">
  <tr>
    <td colspan=3>
      <h1>Welcome to the Nano Banano booster!</h1>
      <hr>
    </td>
  </tr>
  <tr>
    <td style="width:33%">
      <button id="allProjectsButton" disabled onclick="showAllProjects();return false;">
        All Projects
      </button>
    </td>
    <td style="width:33%">&nbsp;</td>
    <td style="width:33%">
      <button id="registerButton" disabled onclick="showRegister();return false;">
        Register
      </button>
    </td>
  </tr>
  <tr id="allProjects" class="display_none">
    <td colspan=3>
      <h1>All Projects</h1>
      <hr>
      {{#each projects}}
        <h2>Project: {{this.name}}</h2>
        <p>
          {{this.description}}
        </p>
        <hr>
      {{/each}}
    </td>
  </tr>
  <tr id="register" class="display_none">
    <td colspan=3>
      <h1>Your Project</h1>
      <form id="form" method="post">
        <h3>Public Information</h3>
        <small>this will be public, and displayed on this site</small><br>
        <p>
          Your Project Name<br>
          <input id="projectName" type="text" name="projectName" size="70" /><br>
          Your Project Description<br>
          <textarea id="projectDescription" name="projectDescription" rows="4" cols="50"></textarea><br>
        </p>
        <hr>
        <h3>Internal (Private) Information</h3>
        <small>this will be private, and only used for internal communication</small><br>
        <p>
          Team lead contact info<br>
          <textarea id="projectContactInfo" name="projectContactInfo" rows="4" cols="50"></textarea><br>
          Team lead banano account (for prize payment)<br>
          <input id="projectBananoAccount" type="textarea" name="projectBananoAccount" size="70" /><br>
        </p>
        <input type="submit" onclick="submitForm();return false;" /><br>
      </form>
    </td>
  </tr>
  <tr>
    <td colspan=3>
      <div style="width:100%">
        <table style="width:100%">
          <tr>
            <td>&nbsp;</td>
            <td>
              <object class="size50" type="image/svg+xml" data="MonkeyRocket.svg"></object>
              <object class="size50" type="image/svg+xml" data="MonkeyGraph.svg"></object>
              <object class="size50" type="image/svg+xml" data="MonkeyArt.svg"></object>
            </td>
            <td>&nbsp;</td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
<script type="module" src="js/views/buildoff.js"></script>
