html,
table,
tbody,
tr,
td,
span,
form,
ul,
li {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5vmin;
  border: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

span, form, ul, li, p {
  background-color: green;
  color: white;
}

button {
  background-color: green;
  color: white;
  border-color: white;
}

button:disabled,
button[disabled] {
  background-color: darkgray;
  color: gray;
  border-color: gray;
}

html {}

body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: black;
}

hr {
  border: 0;
  height: 0.1vmin;
  background-image: linear-gradient(to right, rgba(256, 256, 256, 0), rgba(256, 256, 256, 0.75), rgba(256, 256, 256, 0));
}

.w100pct {
  width: 100%;
}

.display_none {
  display: none;
}

.margin_auto {
  margin: auto;
}

.size95 {
  width: 95vw;
  height: 95vh;
}

.size50 {
  width: 50vmin;
  height: 50vmin;
}

.exit_link {
  text-decoration: none;
  color: #FFF;
}

.exit_link:visited {
  color: #FFF;
}

.exit_link:active {
  color: #777;
}

.exit_link:hover {
  color: #777;
}
